@use "@/styles/abstracts" as *;

.lang-switcher {
  display: inline-flex;
  gap: 6px;

  &__btn {
    text-transform: uppercase;
    opacity: 0.5;
    @include transition-simple;

    &.is-active {
      opacity: 1;
    }
  }
}
